@charset "utf-8";
html {
  font-size: 16px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  line-height: normal;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  background-image: url(../img/sakura_meguro.jpg);
  background-size: cover; 
  overflow: hidden;
}

p {
  margin: 0;
  padding: 0;
}
header {
  margin-top: 8px;
  color: rgba(253, 4, 79, 0.7);
  font-size: 38px;
  font-weight: bold;
  text-align: center;
}
.wrapper {
  position: relative;
  margin: 0;
  padding: 0;
  padding-bottom: 25px;
  text-align: center;
}
#btn1 {
  position: relative;
  margin: 20px auto;
  width: 250px;
  height: 250px;
  line-height: 250px;
  border-radius: 50%;
  color: rgb(5, 0, 212);
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.6);
  background: linear-gradient(#6795f0 0%, #aeeeee 100%);
  box-shadow: 0 10px 0 #4a8ad5;
  justify-content: center;
  user-select: none; 
  cursor: pointer; 
}
#btn1:hover {
  background: linear-gradient(#da70d6 0%, pink 100%);
}

#btn1:active {
  position: relative; 
  top: 5px;
  left: 5px;
  box-shadow: 0 5px 0 0 grey;
}
#omikujiText {
  position: relative;
  margin: 10px auto;
  font-weight: 800;
  text-shadow: 3px 3px 3px rgba(255, 255, 255, 0.65);
  transition: 1s;
}
.shutter {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  margin: 0;
  padding: 0;
  background-color: #1e1e1e;
  animation: byeShutter 2.5s forwards;
}
.shutter::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  margin: auto;
  background-color: #fff;
  animation: shutterOpen 2.5s forwards;
}
@keyframes byeShutter {
  70% { opacity: 1; }
  100% { opacity: 0; display: none; z-index: -1; }
}
@keyframes shutterOpen {
  0% { width: 0; height: 0.05em; }
  50% { width: 100%; height: 0.05em; }
  90% { width: 100%; height: 100%; }
  100% { width: 100%; height: 100%; }
}
footer > p {
  position: absolute;
  bottom: 5px;
  width: 100%;
  margin: 0;
  padding: 1px;
  color: whitesmoke;
  font: 16px Rajdhani;
  text-align: center;
  background: rgba(1, 24, 31, 0.7);
}
@media screen and (max-width: 480px) {
  body {
    background-position: 50% 0%;
    background-size: auto 1000px;
  }
  header {
    margin-top: 20px;
    color: black;
    font-size: 30px;
  }
  #btn1 {
    width: 150px;
    height: 200px;
  }
  #omikujiText {
    margin: 0;
  }
}
/*******************************************************/
/* class=back                                         */
/* id=btn99 backボタン                                 */
/*******************************************************/
.back{
    text-align: left;
}
#btn99{
padding: 0.5em;
border-radius: 0.3em;
color: whitesmoke;
font-size: 1.5em;
background: rgb(26, 212, 212);
cursor: pointer; /*カーソルをポインターの形（かたち）にする*/
}